.page-layout{
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.list-detail{
    width: 100%;
    min-width: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
.list-detail > h1{
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    font-family: "BM Jua", cursive;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    border-radius: 10px;
    color: #99ccFF;
    background-color: #FFc0cb;
}
