nav{
    position: relative;
    width: 400px;
    height: 100vh;
    background-color: #f9e000;

}
.slide-in{
    animation: slideIn 1s ease-in-out;
}
.slide-out{
    animation: slideOut 1s ease-in-out;
}
