
.main{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.h1{
    font-size: 100px;
    font-family: "BM Jua";
}
.h2{
    font-family: "BM Jua";
    font-size: 50px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s;
}
.test{
    animation:fadein ease-in-out 2s;
}
.login{
    margin-top: 200px;
    width: 500px;
    height: 70px;
    background-color:#f9e000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login div{
    font-size: 20px;
}
