.main{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1{
    font-size: 100px;
    font-family: "BM Jua";
}
.h2{
    font-family: "BM Jua";
    font-size: 50px;
    text-align: center;
}
.login{
    margin-top: 200px;
    width: 500px;
    height: 70px;
    background-color:#f9e000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login div{
    font-size: 20px;
}
